@model Comeinda.Data.Tables.TicketSetsTable

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TicketSetsTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCapacityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCapacityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfStandingTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfStandingTickets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfSeatingTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfSeatingTickets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfStandingPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfStandingPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPlacesInRow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPlacesInRow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Address)
        </dd class>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
